body{
  background-color: rgb(14,14,14);
  display: flex;
  align-items: center;
  justify-content: center;
}
.total{
  display: flex;
  justify-self: left;
  align-items: center;
  background-color: rgb(18,18,18);
  border-radius: 50px;
  height: 40px;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(48,48,48);

}

.search{
  color: white;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
  height: 30px;
  border: none;
}
.search:focus {
  outline: none;
}
.tast-lupa{
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 100%;
}
.exttast{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left:10px;
  margin-right: 10px;
  
}
.tastatura{
  width: 20px;
  height: 13px;
}
.tastatura:hover{
  filter: invert(1);
}
.extlupa{
  background-color: rgb(33,34,34);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;
  border-radius: 0 50px 50px 0;
  border-style: solid;
  border-width: 1px;
  border-left-width: 2px;
  border-color: rgb(48,48,48);
}
.lupa{
  width: 30px;
  height: 30px;
  filter: invert(1);
}


